<div>
  <h1><%= @product.name %></h1>
    <p> Description: <%= @product.description %></p>
    <p> Price: $ <%= @product.price %> </p>
    <p> Quantity: <%= @product.quantity %></p>
</div>

<% if user_signed_in? && current_user.admin %>
  <%= link_to("Update Product Info", edit_product_path, class: "btn btn-info") %>
  <%= link_to("Delete Product", product_path, method: :delete, class: "btn btn-danger") %>
<% end %>
