<div>
  <h1><%= @product.name %></h1>
    <p> Description: <%= @product.description %></p>
    <p> Price: $ <%= @product.price %> </p>
    <p> Quantity: <%= @product.quantity %></p>
</div>

<% if user_signed_in? && current_user.admin %>
  <%= link_to("Update Product Info", edit_product_path, class: "btn btn-info") %>
  <%= link_to("Delete Product", product_path, method: :delete, class: "btn btn-danger") %>
<% end %>

<% if user_signed_in? && !current_user.admin %>
  <div class="form-container">
    <%= form_for @shopping_cart, url: user_shopping_cart_path(current_user.id,current_user.shopping_cart.id), method: :put do |f| %>

      <div>
        <%= f.hidden_field :product_id, value: @product.id %>
      </div>

      <div class="row">
        <div class="col-lg-3 col-lg-offset-5">
          <%= f.submit "Add to cart", class: "btn btn-info" %>
        </div>
      </div>

    <% end %>
  </div>
<% end %>
